<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/css/default.css" />
  <link href="/images/favicon.ico" rel="shortcut icon" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {% if page.head %}
    {% include {{page.head}} %}
  {% endif %}
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  {% if page.foot %}
    <script type="text/javascript">
      {% include {{page.foot}} %}
    </script>
  {% endif %}
</body>
</html>
